<ul>
  <li>{{ 'hallo' }}</li>
  <li>{{ 3 }}</li>
  <li>{{ 17+4 }}</li>
  <li>{{ title | uppercase }}</li>
  <li>{{ numericValue }}</li>
  <li>{{ numericValue | percent }}</li>
  <li>{{ numericValue | currency }}</li>
  <li>{{ numericValue | number:'0.5' }}</li>
  <li>{{ title | yell }}</li>
  <li>{{ title | yell:'???' }}</li>
</ul>

<div [style.backgroundColor]="color">
  Hallo
</div>

<button (click)="onClick($event)"
  (mousemove)="onMouseMove($event)">Click</button>

<app-todo [todo]="myTodo" (done)="onDone($event)">
</app-todo>

<router-outlet></router-outlet>
